{% extends 'base.html.twig' %}

{% block title %}
    Modify Category
{% endblock %}

{% block content %}

    {{ form_start(form) }}

    <div class="main-panel">
        <h1>Modifier Une Categorie</h1>


        <div class="form-group">

            <LABEL>Name Of Category*:</LABEL>
            {{ form_widget(form.nom, {'attr':{'class':'form-control' }})}}
        </div>

        {#   <div class="form-group">
        <label>Libelle</label>
        <input type="text" class="form-control" id="libelle" placeholder="Entrez le libelle de la categorie">
    </div>#}

        <input type="submit" value="Modifiy Category" class="btn btn-danger">
    </div>

    {{ form_end(form) }}



{% endblock %}